## Final Project Submission

Please fill out:
* Student name: Brian Kiptoo
* Student pace: full time
* Scheduled project review date/time: N/A
* Instructor name: Nikita Njoroge
* Blog post URL: N/A

Film Industry Analysis for Microsoft Movie Studio

Business Problem

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

Objectives

1. Research current film trends and analyze box office success of various movie genres.
2. Identify the most profitable and popular movie genres in the market.
3. Develop a list of recommendations for Microsoft's new movie studio based on the research findings.
4. Present a comprehensive report of the research findings and recommendations to the head of the new movie studio.

Importing Libraries.

In [37]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline
conn = sqlite3.connect('zippedData/im.db.zip')
cur = conn.cursor()

Data
The datasets are stored in the 'zippedData' folder and were sourced from:

1. Box Office MojoLinks
    > bom.movie_gross.csv
2. IMDBLinks
    > im.db
3. Rotten TomatoesLinks
    > rt.movie_info.tsv
4. TheMovieDBLinks
    > tmdb.movies.csv
5. The Numbers
    > tn.movie_budget.csv

Load Data

In [38]:
#load data from Box Office MojoLinks
movies_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
movies_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [39]:
#Load the data from tn.movie_budgets.csv into a dataframe
movies_budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
movies_budget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [40]:
# Your code here - remember to use markdown cells for comments as well!